.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.name-link {
  text-decoration: none;
  color: #000000;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-item {
  margin-left: 10px;
  text-decoration: none;
  color: #8a8a8d;

  &:hover {
    color: #000000;
  }
}

.nav-item-home {
  color: #000000;
  text-decoration: none;
}

.active-nav-item {
  color: #000000;
}
