@import url("https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC:900&display=swap");

body,
h1,
h2 {
  font-family: "Lato", serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
